@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Dashboard/**/*';
@source '../../../../resources/views/filament/dashboard/**/*';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';

